<div  *ngIf="user">
<h2 class="page-header">Transaction Details</h2>
<form (submit)="addTransaction()">
   <div class="form-group">
     <label> First Name: </label>
     <input type="text" ng-model="first_name" name="first_name" class="form-control" value={{user.first_name}} disabled>
   </div>
  <div class="form-group">
    <label> Last Name:</label>
    <input type="text" ng-model="last_name" name="last_name" class="form-control" value={{user.last_name}} disabled >
  </div>
  <div class="form-group">
    <label> Amount:</label>
    <input type="number" [(ngModel)]="amount" name="amount" class="form-control" >
  </div>
  <div class="form-group">
    <label> Nature:</label>
    <input type="text" [(ngModel)]="nature" name="nature" class="form-control" >
  </div>
  <div class="form-group">
    <label> Category:</label>
    <input type="text" [(ngModel)]="category" name="category" class="form-control" >
  </div>
  <div class="form-group">
    <label> Date:</label>
    <input type="date" [(ngModel)]="date" name="date" class="form-control" >
  </div>
  <div class="form-group">
    <label> Note:</label>
    <input type="text" [(ngModel)]="note" name="note" class="form-control" >
  </div>

</form>
</div>
